
<div class="container">

  <%= paginate @books %>
  <% @books.each do |t| %>
    <div class="book_wrapper">
      <% if t.logo.exists? %> 
    		<div class="book_logo">
    		  <%= link_to image_tag( t.logo.url(:thumb) ), book_path(t), :title => "Details of this book" %>
    		</div>
  		
  		<% else %>

      	<div class="book_logo">
          <%= link_to image_tag( "missing.png" ), book_path(t), :title => "Details of this book" %>
      	</div>

      <% end %>

  	<div class="book_title"><%= t.title %></div>
  	<div class="book_author"><%= t.author %></div>
  		<div class="option_icons">
  			<% if current_user == @user %>
  				<%= link_to image_tag("book_delete.png", :size => "30x30", :alt => "book_delete"), book_path(t), :method => :delete, :title => "Delete this book" %>
  				<%= link_to image_tag("book_edit.png", :size => "30x30", :alt => "book_edit"), edit_book_path(t), :title => "Edit this book" %>
  			<% end %>
  				<%= link_to image_tag("comment.png", :size => "30x30", :alt => "comment"), book_path(t), :title => "Comment this book" %>
  		</div>
  	</div>
  <% end %>
</div>