<div class="file_field">    <%= f.file_field :logo %>         </div>

<div class="label">         <%= f.label :title, "Book Name" %></div>
<div class="text_field">    <%= f.text_field :title %>        </div>

<div class="label">         <%= f.label :isbn, "ISBN" %>     </div>
<div class="text_field">    <%= f.text_field :isbn %>        </div>

<div class="label">         <%= f.label :author, "Author" %> </div>
<div class="text_field">    <%= f.text_field :author %>      </div>

<div class="label">         <%= f.label :description, "Description" %></div>
<div class="text_area">     <%= f.text_area :description %></div>

<div class="submit_button"><%= f.submit "Submit" %></div>