.form-group
  .col-md-12
    = f.file_field :logo
.form-group
  .col-md-4 
    = f.label :title, "Book Name", class: "control-label"
  .col-md-8
    = f.text_field :title, class: "form-control"
.form-group
  .col-md-4 
    = f.label :isbn, "ISBN", class: "control-label"
  .col-md-8
    = f.text_field :isbn, class: "form-control"
.form-group
  .col-md-4 
    = f.label :author, "Author", class: "control-label"
  .col-md-8
    = f.text_field :author, class: "form-control"
.form-group
  .col-md-4 
    = f.label :description, "Description", class: "control-label"
  .col-md-8
    = f.text_area :description, class: "form-control"
= f.submit "Submit", class: 'btn btn-default'