<div class="book_container">
  <%= paginate @books, :theme => 'twitter-bootstrap-3' ,:pagination_class => "pagination-sm pagination-centered" %>

  <% @books.each do |t| %>
    <div class="book_wrapper">

      <% if t.logo.exists? %> 
        <div class="book_logo">
          <%= link_to image_tag( t.logo.url(:thumb) ), book_path(t), :title => "Details of this book" %>
        </div>
      <% else %>
        <div class="book_logo">
          <%= link_to image_tag( "missing.png" ), book_path(t), :title => "Details of this book" %>
        </div>
      <% end %>

      <div class="book_title"><%= t.title %></div>
      <div class="book_author"><%= t.author %></div>


      <% t.users.each do |user| %>
        <div class="book_owner">
          Owner: <%= link_to user.try(:name), user_path(user) %>
        </div>
      <% end %>

    </div>
  <% end %>	

</div>
