.book_container
  = paginate @books, :theme => 'twitter-bootstrap-3' ,:pagination_class => "pagination-sm pagination-centered"

  - @books.each do |book|
    .col-md-2.col-sm-2.col-xs-2.book-box
      .book_wrapper
        - if book.logo.exists? 
          .book_logo
            = link_to image_tag( book.logo.url(:thumb) ), book_path(book), :title => "Details of this book"
        - else
          .book_logo
            = link_to image_tag( "missing.png" ), book_path(book), :title => "Details of this book"
        .book_title
          = book.title
        .book_author
          = book.author
        - book.users.each do |user|
          .book_owner
            = 'Owner: '
            = link_to user.try(:name), user_path(user)
