請留下對此書的感想</br>

書名：<%=@book.title %></br>
書皮：<%= link_to image_tag( @book.logo.url(:thumb) ), @book.logo.url %></br>

<p>留言</p>
<% @book.comments.each do |c| %>

	<% if c.photo.exists? %>
		<%= link_to image_tag(c.photo.url(:thumb)), c.photo.url %>
	<% end %>

	<%= c.content %> by <%= c.user.name %>

	<% if (c.user == current_user) %>
    	<%= link_to "刪除留言", book_comment_path(@book, c), :method => :delete %></br>
    <% end %>

<% end %>


<p>新增留言</p>
<%= form_for Comment.new, :url => book_comments_path(@book), :html => { :multipart => true } do |f| %>

  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.file_field :photo %>

  <%= f.submit "Reply" %>  

<% end %>
