<div class="note comment_bg">
  <div class="note_container">


    <div class="book_logo">
      <% if @book.logo.exists? %> 
        <%= link_to image_tag( @book.logo.url(:medium) ), @book.logo.url %>
      <% else %>
        <%= link_to image_tag( "missing.png" ), book_path(@book) %>
      <%end%>
    </div>

    <div class="book_title">
      <%= @book.title %><br>
      <%= @book.author %><br>
      <%= @book.isbn %><br>
      <%= simple_format @book.description %><br>
    </div>

    <div class="comment_wrapper">
      <% @book.comments.each do |c| %>
        <div class="each_comment_wrapper">
          <div class="comment_content"><%= simple_format c.content %></div>
            <% if c.photo.exists? %>
    		      <div class="comment_image"><%= link_to image_tag(c.photo.url(:thumb)), c.photo.url %></div>
            <% end %>
          </div>
        <div class="arrow"></div>  
          <div class="comment_user_date_delete_wrapper">
            <%= link_to c.user.name, user_path(c.user) %> said on <%= c.created_at.strftime("%d %b. %Y at %H:%M") %>

            <% if (c.user == current_user) %>
              <%= button_to "刪除留言", book_comment_path(@book, c), :method => :delete %>
            <% end %>
          </div>

      <% end %>
    </div>

    <div class="add_comment_picture">

      <%= form_for Comment.new, :url => book_comments_path(@book), :html => { :multipart => true } do |f| %>

        <div class="label"><%= f.label :photo, "Add a picture." %></div>
        <div class="file_field"><%= f.file_field :photo %></div>
        <div class="label"><%= f.label :content, "Write a comment." %></div>
        <div class="text_area"><%= f.text_area :content %></div>
      

        <div class="submit_button replay_button"><%= f.submit "Reply", class: 'btn btn-default' %></div>  

      <% end %>
    </div>
    
  </div>
</div>
