<div class="note comment_bg">
  <div class="note_container">
請留下對此書的感想</br>

書名：<%=@book.title %></br>
書皮：<%= link_to image_tag( @book.logo.url(:thumb) ), @book.logo.url %></br>

<p>留言</p>
<% @book.comments.each do |c| %>

	<% if c.photo.exists? %>
		<%= link_to image_tag(c.photo.url(:thumb)), c.photo.url %>
	<% end %>

	<%= c.content %> by <%= c.user.name %>

	<% if (c.user == current_user) %>
    	<%= link_to "刪除留言", book_comment_path(@book, c), :method => :delete %></br>
    <% end %>

<% end %>

<p><%= current_user.name %>新增留言或圖片</p>
<%= form_for Comment.new, :url => book_comments_path(@book), :html => { :multipart => true } do |f| %>

  <div class="label"><%= f.label :content, "留言" %></div>
  <div class="text_area"><%= f.text_area :content %></div>
  <div class="label"><%= f.label :photo, "圖片" %></div>
  <div class="file_field"><%= f.file_field :photo %></div>

  <div class="submit_button ccc"><%= f.submit "Reply" %></div>  

<% end %>
  </div>
</div>
