.header-mobile-space
.header-mobile{ id: "myTopnav" }
  .du-icon-mobile
    = link_to image_tag("du_logo.png", :alt => "du_logo"), root_path, :title => "To Main Page"
  = link_to "All books", books_path, :title => "All books"
  - if current_user
    = link_to "My books", user_path(current_user), :title => "My books"
  - if current_user
    = link_to "Add book", new_book_path, :title => "Add new book"
  - if user_signed_in?
    = link_to "Log out", destroy_user_session_path, :method => :delete, :title => "Log out"
  - else
    = link_to "Log in", user_sso_omniauth_authorize_path, :title => "Log in"
  = link_to "FB page", "https://www.facebook.com/dureading", :title => "To DUreading FB Page", target: :_blank
  %a.icon{ href: "javascript:void(0);", onclick: "myFunction()"}
    = fa_icon "bars"


