.header
  .header_wrapper
    .du_login
      = link_to image_tag("du_logo.png", :size => "80x80", :alt => "du_logo"), root_path, :title => "To Main Page"
    .dureading
      DùReading
  
    .header-icons
      = link_to image_tag("all_books.png", :size => "60x60", :alt => "all_book"), books_path, :title => "All books"

    - if current_user
      .header-icons
        = link_to image_tag("my_book.png", :size => "60x60", :alt => "my_book"), user_path(current_user), :title => "My books"
    - if current_user
      .header-icons
        = link_to image_tag("add_book.png", :size => "60x60", :alt => "add_book"), new_book_path, :title => "Add new book"


    .fb_wrapper
      = link_to image_tag("fb_icon.png", :size => "80x80", :alt => "du_logo"), "https://www.facebook.com/dureading", :title => "To DUreading FB Page", target: :_blank
      - if user_signed_in?
        .fb_user
          = 'Hi, ' + current_user.name
          = link_to "登出", destroy_user_session_path, :method => :delete, :title => "Log out"
      - else
        .fb_user_link
          = link_to "SSO 登入", user_sso_omniauth_authorize_path, :title => "Log in"



