<!DOCTYPE html>
<html>
<head>
  <title>Dureading</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<% if current_user %>
  Hi, <%= current_user.name %>
  <%= link_to "登出", auth_signout_path, :method => :delete %></a>
<% else %>
 <%= link_to "Facebook 登入", "/auth/facebook" %></a>
<% end %>

</br>


<%= link_to "Du 登入頁面", root_path %>
<%= link_to 'Du 首頁', books_path %>
<% if current_user %>
	<%= link_to '我的書櫃', user_path(current_user) %></br>
<% end %>

<%= yield %>

</body>
</html>
